/build/
/build_*/
/out/
/install/
/.vs/
/x64/
/Debug/
/Release/

CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
_deps/
*.ninja
.ninja_*
compile_commands.json
install_manifest.txt

imgui.ini
*.user
*.suo
*.VC.db
*.VC.opendb
